# DATA CLEANING FOR MISSING AND WRONG DATA(OUTLIERS)

In [2]:
import pandas as pd
df=pd.read_excel("dataCleaning.xlsx")

In [3]:
df

    ID   OOP    THE  OOPSHARE  CHE
0    1  12.0   70.0  0.171429  0.0
1    2  23.0   72.0       NaN  0.0
2    3   NaN   74.0  0.459459  1.0
3    4  45.0   76.0  0.592105  NaN
4    5   NaN   78.0  0.858974  1.0
5    6  78.0   80.0  0.975000  1.0
6    7  89.0   82.0  1.085366  1.0
7    8  23.0   84.0       NaN  0.0
8    9   NaN   86.0  0.523256  1.0
9   10  34.0   88.0  0.386364  0.0
10  11  45.0   90.0  0.500000  1.0
11  12  67.0   92.0  0.728261  1.0
12  13  78.0    NaN  0.829787  1.0
13  14  89.0   96.0  0.927083  NaN
14  15  89.0   98.0  0.908163  1.0
15  16  56.0  100.0  0.560000  1.0
16  17  78.0  102.0  0.764706  1.0
17  18   NaN  104.0       NaN  1.0
18  19  34.0  106.0  0.320755  0.0

In [4]:
df

    ID   OOP    THE  OOPSHARE  CHE
0    1  12.0   70.0  0.171429  0.0
1    2  23.0   72.0       NaN  0.0
2    3   NaN   74.0  0.459459  1.0
3    4  45.0   76.0  0.592105  NaN
4    5   NaN   78.0  0.858974  1.0
5    6  78.0   80.0  0.975000  1.0
6    7  89.0   82.0  1.085366  1.0
7    8  23.0   84.0       NaN  0.0
8    9   NaN   86.0  0.523256  1.0
9   10  34.0   88.0  0.386364  0.0
10  11  45.0   90.0  0.500000  1.0
11  12  67.0   92.0  0.728261  1.0
12  13  78.0    NaN  0.829787  1.0
13  14  89.0   96.0  0.927083  NaN
14  15  89.0   98.0  0.908163  1.0
15  16  56.0  100.0  0.560000  1.0
16  17  78.0  102.0  0.764706  1.0
17  18   NaN  104.0       NaN  1.0
18  19  34.0  106.0  0.320755  0.0

In [5]:
df.dropna(subset=['Nationality'])

KeyError: ['Nationality']

In [ ]:
# x = df["Height"].mean()
# df["Height"].fillna(x, inplace=True)

In [ ]:
df

In [ ]:
# for x in df.index:
#     if df.loc[x, "Height"]>85:
#         df.loc[x, "Height"]=116

In [ ]:
# for x in df.index:
#     if df.loc[x, "Height"]>100:
#         df.drop(x, inplace = True)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
import pandas as pd
df1=pd.read_excel("dataCleaning.xlsx")

In [ ]:
df1.head()

In [ ]:
df1.dropna(subset=["Nationality"], inplace = True)

In [ ]:
df1

In [ ]:
x = df1["Height"].mean()

In [ ]:
df1["Height"].fillna(x, inplace = True)

In [ ]:
df1

In [ ]:
df1

In [ ]:
df1.dropna(inplace = True)

In [ ]:
df1.loc[2, "Age"]= 50

In [ ]:
df1

In [ ]:
import pandas as pd
df3 = pd.read_excel("dataCleaning.xlsx")

In [ ]:
df3

In [ ]:
df3.dropna(subset=["Nationality"])

In [ ]:
df3["Height"].fillna(df3["Height"].mean(), inplace=True)

In [ ]:
df3

In [ ]:
df3.loc[3, "Nationality"] = "Malawi"

In [ ]:
df3

In [ ]:
for x in df3.index:
    if df3.loc[x, "Height"]>100:
        df3.loc[x,"Height"] = 100

In [ ]:
df3

In [ ]:
df3.dropna(inplace = True)

###

In [ ]:
df3

In [ ]:
# Check every index and if the value for height in a particular row is less than 90(thus the conidtion), the instrucion is that you drop that row
for x in df3.index:
    if df3.loc[x, "Height"]<90:
        df3.drop(x, inplace = True)

In [ ]:
df3

In [ ]:
if df3.loc[4, "Height"] != 5:
    df3.loc[4, "Height"] =60

In [ ]:
import pandas as pd
df4=pd.read_excel("dataCleaning.xlsx")

In [ ]:
df4

In [ ]:
# def imputation():
#     for x in df4.index:
#         if df4.loc[x, "Height"]<100:
#             df4.loc[x,"Height"]= "Tall"
# imputation()

In [ ]:
df5=df[["Nationality", "Height"]]

In [ ]:
df5

In [ ]:
df5["Nationality"].fillna(0)

In [ ]:
for x in df5.index:
    if df5.loc[x, "Nationality"]==0:
        df5.drop(x, inplace=True)

In [ ]:
df5

In [ ]:
import pandas as pd
df6 = pd.read_excel("dataCleaning.xlsx")

In [ ]:
df6

In [ ]:
for x in df6.index:
    if df6.loc[x, "Height"]<100:
        df6.fillna(300, inplace = True)

In [ ]:
df6

In [ ]:
df6.loc[3, "Nationality"]="Swedish"

In [ ]:
x =df6[["Position", "Height"]]

In [ ]:
x.loc[4, "Position"]=5

In [ ]:
x.corr()

In [ ]:
x

In [ ]:
x.plot(kind="scatter", x="Position", y="Height")

In [ ]:
df6

In [ ]:
               df.dropna(subset=["Nationality", "Height"])

In [ ]:
import pandas as pd
df7=pd.read_excel("dataCleaning.xlsx")

In [ ]:
df7.head()

In [ ]:
df7.dropna(subset = "Nationality", inplace = True)

In [ ]:
df7

In [ ]:
for x in df7.index:
    if df7.loc[x, "Position"]>50:
        df7.loc[x, "Position"]= 4

In [ ]:
df7

In [ ]:
for x in df7.index:
    if df7.loc[x, "Position"]<3:
        df7.drop(x, inplace=True)

In [ ]:
df7

In [ ]:
df6[["Height", "Position"]].corr()

In [ ]:
df6.plot(kind="scatter", x = "Height", y="Position")

In [ ]:
df6

In [ ]:

import matplotlib.pyplot as plt
import numpy as np

In [ ]:

x= np.array([1,3])
y= np.array([8,10])

In [ ]:
plt.plot(x,y)

In [ ]:
plt.show()

In [ ]:
df6

In [ ]:
y =df6[["Height", "Position"]]

In [ ]:
y

In [ ]:
y.describe()

In [ ]:
d =["Height", "Position"]

In [ ]:
df6[d]

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
plt.plot(np.array([1,2,3,4,5]), np.array([5,4,3,2,1]))

In [ ]:
plt.plot(df6["Height"], df6["Position"])

In [ ]:

df6

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_excel("dataCleaning.xlsx", sheet_name="Sheet2")

In [ ]:
df.head()

In [ ]:
plt.plot(df["OOP"], df["THE"])

In [ ]:
df

In [ ]:
plt.plot(df["OOP"], df["THE"])

In [ ]:
plt.scatter(df["OOP"], df["THE"])

In [ ]:
plt.scatter(np.array([1,2,3,4,5]), np.array([5,4,3,2,1]))

In [ ]:
plt.scatter(np.random.random(50), np.random.random(50), c="coral", marker="d", s=50)

In [ ]:
df["OOP"].count()

In [ ]:
# Lineplot
plt.plot([1,2,3,4,5], [2,3,4,5,6], c="purple", lw= 3, linestyle="--")

In [ ]:
df6

In [ ]:
plt.bar(df6["Nationality"], df6["Height"], color="turquoise", align="edge", width=0.5, edgecolor="Green")

In [ ]:
df.head()

In [ ]:
len(df)

In [ ]:
df.shape

In [ ]:
plt.hist([1,2,3,4,5,6,7,8,9,0,12,23,45,67,78,98,23,54,56,87,89,32,34,65,67,87,89,43,56])

In [ ]:
df

In [ ]:
OOPSHARE100=df["OOPSHARE"]*100

In [ ]:
plt.hist(df["THE"], bins=5, color="skyblue")
plt.xlabel("THE")
plt.ylabel("Frequncy")
plt.title("Histogram of THE")

In [ ]:
plt.plot(df["OOP"], color="red", lw=10, ls="dashed")
plt.plot(OOPSHARE100)
plt.xlabel("Time")
plt.ylabel("OOP")
plt.title("Line graph of OOP")

In [ ]:
values=df["Country"].value_counts()
labels=values.index
sizes=values.values
plt.pie(sizes, labels=labels)

In [ ]:
plt.pie([23,27,20,30])

In [ ]:
df.head(3)

In [ ]:
value=df["CATA"].value_counts()
sizes=value.values
label=value.index
plt.pie(sizes, labels=label,autopct='%1.1f%%')
explode="True"

In [ ]:
# value=df["CATA"].value_counts()
# sizes=value.values
# label=value.index
# plt.pie(sizes, labels=df[,autopct='%1.1f%%')

In [ ]:
df